<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="General">
        <setting label="Movie Output" type="lsep"/>
        <setting id="movie_output_path" type="folder" label="Output path:" default="" option="writeable"/>
        
        <setting label="Series Output" type="lsep"/>
        <setting id="series_output_path" type="folder" label="Output path:" default="" option="writeable"/>
        
        <setting label="TV Output" type="lsep"/>
        <setting id="tv_output_path" type="folder" label="Output Path:" default="" option="writeable"/>
        <setting id="tv_output_filename" type="text" label="Filename:" default="" option="writeable"/>
        
        <setting label="Playlist" type="lsep"/>
        <setting id="playlist_url" type="text" label="30006" default=""/>
        <setting id="xmltv_url" type="text" label="XmlTv url" default=""/>
        <setting id="provider_name" type="text" label="30007" default=""/>

        <setting label="Misc" type="lsep"/>
        <setting id="update_library" type="bool" label="Update library" default=""/>
        <setting id="debug_mode" type="bool" label="Debug Mode" default="False" help="Debug Mode, enables Web-PDB imports"/>
    </category>
    <category label="The Movie Database">
        <setting id="tmdb_enabled" type="bool" label="Enabled" default="False" help="Enabled TMDB Fetching"/>
        <setting id="tmdb_api_token" type="text" label="API Token" option="hidden" default="" help="Your The Movie Database API Read Access Token."/>
        <setting id="tmdb_movies_upcoming_num_pages_to_include" type="number" label="Upcoming Movies # pages" default="10" help="How many pages to include in the Movies Upcomging API calls."/>
        <setting id="tmdb_movies_top_rated_num_pages_to_include" type="number" label="Top Movies # Rated pages" default="20" help="How many pages to include in the Movies Top Rated API calls."/>
        <setting id="tmdb_movies_popular_num_pages_to_include" type="number" label="Popular Movies # pages" default="20" help="How many pages to include in the API Movies Popular calls."/>
        <setting id="tmdb_series_top_rated_num_pages_to_include" type="number" label="Top Rated Series # pages" default="20" help="How many pages to include in the API Series Top Rated calls."/>
        <setting id="tmdb_series_popular_num_pages_to_include" type="number" label="Popular Series # pages" default="20" help="How many pages to include in the API Series Popular calls."/>
    </category>
    <category label="Filters">
        <setting label="M3u Filters" type="lsep"/>
        <setting id="movie_include" type="text" label="Movie include regex" default="VOD:"/>
        <setting id="series_include" type="text" label="Series include regex" default="Series:"/>
    </category>
</settings>
